/// Creates a string for a CSS keyframe, by converting a list of numbers to a comma-separated list of percentage values.
/// @param {List} $input - List of numbers to use.
/// @return {String} A set of comma-separated percentage values.
@function -mui-kf-pct($input) {
  $output: '';
  
  @if type-of($input) == 'number' {
    $output: $input + '%';
  }
  @else if type-of($input) == 'list' {
    @each $i in $input {
      $output: $output + $i + '%, ';
    }
    $output: str-slice($output, 1, -3);
  }
  
  @return $output;
}

/// Generates CSS for a keyframe animation using a Motion UI keyframe object. A keyframe object has this format:
/// ```scss
/// (
///   name: 'keyframe-name',
///   0: (opacity, 0),
///   (25, 75): (opacity, 0.5),
///   100: (opacity, 1),
/// )
/// ```
/// @param {Map} $obj - Keyframe object to convert.
@mixin generate-keyframes($obj) {
  @if type-of($obj) == 'map' {
    $name: map-get($obj, name);
    $obj: map-remove($obj, name);
  
    @keyframes #{$name} {
      @each $n, $value in $obj {
        #{-mui-kf-pct($n)} {
          #{nth($value, 1)}: #{nth($value, 2)};
        }
      }
    }
  }
}
