/// Removes the unit (e.g. px, em, rem) from a value, returning the number only.
/// @param {Number} $num - Number to strip unit from.
/// @return {Number} The same number, sans unit.
/// @access private
@use 'sass:math';
@function strip-unit($num) {
  @return math.div($num, ($num * 0 + 1));
}
