/// Creates a scaling transition. A scale of `1` means the element is the same size. Larger numbers make the element bigger, while numbers less than 1 make the element smaller.
/// @param {Keyword} $dir [in] - State to transition to.
/// @param {Number} $from [1.5] - Size to start at.
/// @param {Number} $from [1] - Size to end at.
/// @param {Boolean} $fade [true] - Set to `true` to fade the element in or out simultaneously.
/// @param {Keyword} $duration [500ms] - Length (speed) of the transition.
/// @param {Keyword|Function} $timing [linear] - Easing of the transition.
/// @param {Number} $delay [0s] - Delay in seconds or milliseconds before the transition starts.
@mixin mui-scale(
  $dir: in,
  $from: 1.5,
  $to: 1,
  $fade: map-get($motion-ui-settings, scaleAndFade),
  $duration: null,
  $timing: null,
  $delay: null
) {
  @include transition-start($dir) {
    @include transition-basics($duration, $timing, $delay);
    transition-property: transform, property;
    transform: scale($from);
    @if $fade { opacity: if($dir == in, 0, 1) }
  }
  @include transition-end($dir) {
    transform: scale($to);
    @if $fade { opacity: if($dir == in, 1, 0) }
  }
}