/// Creates a spinning transition by rotating the element. The `turn` unit is used to specify how far to rotate. `1turn` is equal to a 360-degree spin.
/// @param {Keyword} $dir [in] - State to transition to.
/// @param {Number} $amount [0.75turn] - Amount to element the element.
/// @param {Boolean} $ccw [false] - Set to `true` to spin counterclockwise.
/// @param {Boolean} $fade [false] - Set to `true` to fade the element in or out simultaneously.
/// @param {Keyword} $duration [500ms] - Length (speed) of the transition.
/// @param {Keyword|Function} $timing [linear] - Easing of the transition.
/// @param {Number} $delay [0s] - Delay in seconds or milliseconds before the transition starts.
@mixin spin(
  $dir: in,
  $amount: 0.75turn,
  $ccw: false,
  $fade: map-get($motion-ui-settings, spinAndFade),
  $duration: map-get($motion-ui-speeds, default),
  $timing: map-get($motion-ui-easings, default),
  $delay: map-get($motion-ui-delays, default)
) {
  $amount: turn-to-deg($amount);
  $start: 0;
  $end: 0;

  @if $dir == in {
    $start: if($ccw, $amount, $amount * -1);
    $end: 0;
  }
  @else {
    $start: 0;
    $end: if($ccw, $amount * -1, $amount);
  }

  @include transition-start($dir) {
    @include transition-basics($duration, $timing, $delay);
    transition-property: transform, opacity;
    transform: rotate($start);
    @if $fade { opacity: if($dir == in, 0, 1); }
  }
  @include transition-end($dir) {
    transform: rotate($end);
    @if $fade { opacity: if($dir == in, 1, 0); }
  }
}