// Transitions
// - - - - - - - - - - - - - - -
@mixin motion-ui-transitions {
  // Slide
  .slideInDown    { @include slide(in,  down); }
  .slideInLeft    { @include slide(in,  right); }
  .slideInUp      { @include slide(in,  bottom); }
  .slideInRight   { @include slide(in,  left); }
  .slideOutDown   { @include slide(out, bottom); }
  .slideOutRight  { @include slide(out, right); }
  .slideOutUp     { @include slide(out, top); }
  .slideOutLeft   { @include slide(out, left); }

  // Fade
  .fadeIn  { @include fade(in,  0, 1); }
  .fadeOut { @include fade(out, 1, 0); }

  // Hinge
  .hingeInFromTop      { @include hinge(in,  top); }
  .hingeInFromRight    { @include hinge(in,  right); }
  .hingeInFromBottom   { @include hinge(in,  bottom); }
  .hingeInFromLeft     { @include hinge(in,  left); }
  .hingeInFromMiddleX  { @include hinge(in,  top,   center); }
  .hingeInFromMiddleY  { @include hinge(in,  right, center); }
  .hingeOutFromTop     { @include hinge(out, top); }
  .hingeOutFromRight   { @include hinge(out, right); }
  .hingeOutFromBottom  { @include hinge(out, bottom); }
  .hingeOutFromLeft    { @include hinge(out, left); }
  .hingeOutFromMiddleX { @include hinge(out, top,   center); }
  .hingeOutFromMiddleY { @include hinge(out, right, center); }

  // Scale
  .scaleInUp    { @include scale(in,  0.5, 1); }
  .scaleInDown  { @include scale(in,  1.5, 1); }
  .scaleOutUp   { @include scale(out, 1, 1.5); }
  .scaleOutDown { @include scale(out, 1, 0.5); }

  // Spin
  .spinIn     { @include spin(in,  cw); }
  .spinOut    { @include spin(out, cw); }
  .spinInCCW  { @include spin(in,  ccw); }
  .spinOutCCW { @include spin(out, ccw); }

  // Transition Modifiers
  // - - - - - - - - - - - - - - -

  @each $name, $value in $motion-ui-speeds {
    @if $name != default {
      .#{$name} { transition-duration: $value !important; }
    }
  }

  @each $name, $value in $motion-ui-easings {
    @if $name != default {
      .#{$name} { transition-timing-function: $value !important; }
    }
  }

  @each $name, $value in $motion-ui-delays {
    @if $name != default {
      .#{$name}-delay { transition-delay: $value !important; }
    }
  }
}

// Animations
// - - - - - - - - - - - - - - -
@mixin motion-ui-animations {
  .shake    { @include mui-keyframes(shake()); }
  .spin-cw  { @include mui-keyframes(spin()); }
  .spin-ccw { @include mui-keyframes(spin(ccw)); }
  .wiggle   { @include mui-keyframes(wiggle()); }

  // Animation Modifiers
  // - - - - - - - - - - - - - - -
  .mui-animate {
    // Repeat
    &.infinite { animation-iteration-count: infinite; }

    @each $name, $value in $motion-ui-speeds {
      @if $name != default {
        &.#{$name} { transition-duration: $value !important; }
      }
    }

    @each $name, $value in $motion-ui-easings {
      @if $name != default {
        &.#{$name} { transition-timing-function: $value !important; }
      }
    }

    @each $name, $value in $motion-ui-delays {
      @if $name != default {
        &.#{$name}-delay { transition-timing-function: $value !important; }
      }
    }
  }
}
