/// Creates a sliding animation.
/// @param {Keyword} $state [in] - Whether to move to (`in`) or from (`out`) the element's default position.
/// @param {Keyword} $direction [up] - Direction to move. Can be `up`, `down`, `left`, or `right`.
/// @param {Number} $amount [100%] - Distance to move. Can be any CSS length unit.
/// @return {Map} A keyframes map that can be used with the `generate-keyframes()` mixin.
@function slide(
  $state: in,
  $direction: up,
  $amount: 100%,
  $fade: map-get($motion-ui-settings, slideAndFade)
) {
  $from: $amount;
  $to: 0;
  $func: 'translateY';

  @if $direction == left or $direction == right {
    $func: 'translateX';
  }

  @if $state == out {
    $from: 0;
    $to: $amount;
  }

  @if $direction == down or $direction == right {
    @if $state == in {
      $from: -$from;
    }
  }
  @else {
    @if $state == out {
      $to: -$to; 
    }
  }

  $from: (transform: '#{$func}(#{$from})');
  $to: (transform: '#{$func}(#{$to})');

  @if $fade {
    $opacity-from: if($state == in, 0, 100);
    $opacity-to: if($state == in, 100, 0);
    $from: map-merge($from, (opacity: $opacity-from));
    $to: map-merge($from, (opacity: $opacity-to));
  }

  $keyframes: (
    name: 'slide-#{$state}-#{$direction}-#{$amount}',
    0: $from,
    100: $to,
  );

  @return $keyframes;
}
