/// Creates a spinning animation.
/// @param {Keyword} $direction [cw] - Direction to spin. Should be `cw` (clockwise) or `ccw` (counterclockwise).
/// @param {Number} $amount [360deg] - Amount to spin. Can be any CSS angle unit.
/// @return {Map} A keyframes map that can be used with the `generate-keyframes()` mixin.
@function spin(
  $direction: cw,
  $amount: 360deg
) {
  @if $direction == ccw {
    $amount: -$amount;
  }
  @else if $direction != cw {
    @warn '$direction must be "cw" or "ccw"';
  }

  $keyframes: (
    name: 'spin-#{$direction}-#{$amount}',
    0: (transform: rotate(0deg)),
    100: (transform: rotate($amount)),
  );

  @return $keyframes;
}
